

h2{
  margin-bottom: 40px!important;
}
h3{
    margin-top: 50px!important;
  margin-bottom: 30px!important;
  font-weight: 600!important;
}
h4{
  margin-top: 50px!important;
  padding-bottom: 8px!important;
}
h5{
  margin-top: 30px!important;
  font-size: 1.2em!important;
  font-weight: 600!important;
}
h6{
  background-color: purple;
}

